:root {
    --primary_color: #293241;
    --secondary_color: #e0fbfc;
    --accent_color1: #ee6c4d;
    --accent_color2: #3d5a80;

    /*--h1: bold 54px/64px;*/
    /*--h2: bold 36px/36px;*/
    /*--h3: bold 24px/30px;*/
}

/*
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
CSS RESET END
*/

.heading1 {
    font-size: 2rem;
    color: var(--secondary_color);
}



.pe-40 {
    padding-right: 0;
}

/* Medium screens (md and up) */
@media only screen and (min-width: 768px) {
    .heading1 {
        font-size: 3rem;
    }
}

/* Large screens (lg and up) */
@media only screen and (min-width: 992px) {
    .heading1 {
        font-size: 4rem;
    }

    .pe-40 {
        padding-right: 40%;
    }
}

.primary_color {
    color: var(--primary_color);
}

.bg_primary_color {
    background-color: var(--accent_color1);
}

.secondary_color {
    color: var(--secondary_color);
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.button-primary {
    color: #fff;
    background-color: #fff;
    border-color: transparent;
}

.button-primary:hover {
    color: #fff;
    background-color: var(--secondary_color);
    border-color: transparent;
}

.input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
    color: #495057;
    background-color: var(--secondary_color);
    border-color: var(--secondary_color);
    outline: 0;
}

.hero-image {
    background-image: url("https://www.akhia.com/hubfs/Photography/BenThinkingSection_Header.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 50vh;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-image-content {
    position: relative;
    z-index: 2;
}

.card_hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_hover:hover {
    transform: scale(1.05);
}



